body{
    text-align: center;
}
h2{
    color: rgb(238, 10, 10);
    border :solid rgb(108, 65, 225) ;
    width: 10em;
    margin: auto;
    
}
#lorem::first-line{
    color: rgb(255, 153, 0);
}
p:first-child{
    color: rgb(117, 205, 90);
}
p:last-of-type{
    color: rgb(51, 255, 0);
}
p:first-of-type{
    font-size: x-large;
}
table{
    margin:3em  auto ;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 1em;
}
tr[odd]{
    background-color: sandybrown;
}
tr:not(odd){
    background-color: olivedrab;
}
caption{
    color: yellowgreen;
    font-size: 2em;
    border:1px solid blue;
}