
    #main{
    background-color: orchid;
    border:5px solid green;
    border-radius: 15px;
    margin:3em 15em;

}
#sides{
    background-color: peru;
    border:5px solid goldenrod;
    border-radius: 15px;
    margin:3em 15em;
}
#drinks{
    background-color: yellow;
    border: 5px solid purple;
    margin:3em 15em;
    border-radius: 20px;
}
@media screen and (max-width: 799px) {
    #main,#sides,#drinks {
        width: 80%;
        margin: auto;
    }
}
.item img{
    height: 200px;
    width: 100;
    margin:1em;
    border:5px dotted black;
    border-radius: 10px;
    
}
.item{
    display: inline-block;
    padding: 1em;
}
nav{
    display: inline;
    
    font-size:1.5em;
    color: orangered;
    border-right:5px  rgb(225, 65, 65);

}
 nav a{
    color: red;
}
nav li{
    list-style: none;
    margin-right: 2em;
}
h2{
    margin-bottom: 0;
    color: seagreen;
}
hr+p{
    color: rgb(74, 71, 255);
}


#main *{
    color: sienna;
}
h3[cool]{
    font-style: italic;
}
