html{
    background-color: black;
}
body{
    
    background-color: white;
    max-width: 1000px;
    margin:auto;
    padding: 2em;
}
div{
    background-color: yellow;
    border: 5px solid black;
    width: 15em;
    height:5.5em ;
    margin-left: 4em;
    display: inline-block;
    margin-bottom: 1em;
    text-align: center;
    line-height: 7em;
}
p{
    margin-left: 4em;
}